<launch>
  <!-- True for simulation, false for real-time and bagfiles -->
  <param name="/use_sim_time" value="false"/>

  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock /home/eshahrivar/Desktop/husky_rosbag.bag"/>

  <node pkg="cpr_gps_localization" type="timed_roslaunch.sh" name="timed_roslaunch"
    args="1 blam_example blam.launch" output="screen">
  </node>

</launch>
